---
http_interactions:
- request:
    method: get
    uri: https://www.bitpagos.com/api/v1/transaction/dSC7qcJR2k8JfEK6r4sXPa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ApiKey 4141414141414
      Content-Type: application/json
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type: text/html; charset=utf-8
      Content-Language: es
      Location: https://www.bitpagos.com/api/v1/transaction/dSC7qcJR2k8JfEK6r4sXPa/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Dec 2015 13:50:11 GMT
- request:
    method: get
    uri: https://www.bitpagos.com/api/v1/transaction/dSC7qcJR2k8JfEK6r4sXPa/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ApiKey 4141414141414
      Content-Type: application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: application/json
      Content-Language: es-ar
    body:
      encoding: UTF-8
      string: |-
        {
          "amount": 424.0,
          "btc": "0.06413700",
          "client_email": null,
          "currency": "ARS",
          "date_created": "2015-12-17T12:29:11.746276",
          "date_paid": null,
          "date_rate": "2015-12-17T12:29:12.642111",
          "description": "checkout 28928",
          "id": 98814,
          "is_waiting": "True",
          "reference_id": "R616613214",
          "resource_uri": "",
          "status": "WA",
          "to_address": "AbdgDGJFfsjF124124153Abcddbg",
          "txn_id": "dSC7qcJR2k8JfEK6r4sXPa",
          "txn_type": null
        }
  recorded_at: Thu, 31 Dec 2015 13:50:12 GMT
recorded_with: VCR 2.9.3
