---
http_interactions:
- request:
    method: get
    uri: https://www.bitpagos.com/api/v1/transaction/?status=WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: ApiKey 4141414141414
      Content-Type: application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type: application/json
      Content-Language: es-ar
    body:
      encoding: UTF-8
      string: |-
        {
          "meta": {
            "limit": 20,
            "next": "?limit=20&offset=20",
            "offset": 0,
            "previous": null,
            "total_count": 5
          },
          "objects": [
            {
              "amount": 424.0,
              "btc": "0.07827300",
              "client_email": null,
              "currency": "ARS",
              "date_created": "2015-12-01T13:44:30.303545",
              "date_paid": null,
              "date_rate": "2015-12-01T13:44:31.023785",
              "description": "checkout 27857",
              "id": 93412,
              "is_waiting": "True",
              "reference_id": "R003282113",
              "resource_uri": "",
              "status": "WA",
              "to_address": "AbdgDGJFfsjF124124153Abcddbg",
              "txn_id": "1241",
              "txn_type": null
            },
            {
              "amount": 424.0,
              "btc": "0.06990300",
              "client_email": null,
              "currency": "ARS",
              "date_created": "2015-12-09T18:07:56.307131",
              "date_paid": null,
              "date_rate": "2015-12-09T18:07:57.095967",
              "description": "checkout 28424",
              "id": 96326,
              "is_waiting": "True",
              "reference_id": "R583144366",
              "resource_ur[...]
